<!-- Footer Partial Template -->
<footer class="mastfoot mt-auto">
    <div class="inner">
        <p>Created By <a href="https://medium.com/@pkoulianos">Zachary Mollenhour</a></a></p>
    </div>
</footer>