<!-- Navigation Partial Template -->
<header class="masthead mb-auto">
    <div class="inner">
        <h3 class="masthead-brand">Zachary Mollenhour</h3>
        <nav class="nav nav-masthead justify-content-center">
            <a id='home' class="nav-link" href="/">Home</a>
            <a id='Profile' class="nav-link" href="/Profile">Profile</a>
            <a id='About' class="nav-link" href="/About">About Me</a>
            <a id='Contact' class="nav-link" href="/Contact">Contact</a>
        </nav>
    </div>
</header>